<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <%- include('heading', {title: title}) %>
    <h1>New Message</h1>
    <form method="post">
        Name: <br>
        <input type="text" name="user"><br><br>
        Message: <br>
        <input type="text" name="text"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>