<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
</head>
<body>
    <%- include('heading', {title: title}) %>
    <hr>
    <ul>
        <li><b>User:</b> <%= message.user %></li>
        <li><b>Text:</b> <%= message.text %></li>
        <li><b>Added:</b> <%= message.added %></li>
    </ul>
    <hr>
</body>
</html>